.Register{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.59);
}
.SignUp{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 90px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 77vh;
}